.transactionTable {
  margin-top: 15px;
  width: 350px;
  border-radius: 5px;
  border: 2px solid grey;
  background-color: #c7e3b4;
}

.tableHeader,
.amountList,
.currencyList {
  text-align: center;
}

.tableHead {
  background-color: #cdc2a3;
  height: 30px;
}

th {
  text-transform: uppercase;
  color: rgb(46, 46, 46);
  font-weight: 500;
  border-bottom: 3px solid rgb(128, 128, 128);
}

tr:nth-child(2n + 2) {
  background-color: #928b86;
}

.typeList {
  text-transform: capitalize;
}
